name: Continuous Image Gen
on:
  workflow_dispatch: # Allows you to start it manually with a button
  schedule:
    - cron: '0 * * * *' # Runs every hour automatically

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: pip install pyTelegramBotAPI requests

      - name: Run Script
        run: python main.py
